body{
  /*background-color: red;*/
}
.container{
  margin-top: 100px;

}
.form-group{
  width:400px;
}
#lela-form{
  width:700px;
  overflow: hidden;
  margin-left: 255px;
}
#myMessages{
  /*overflow: auto;*/
  overflow-y: auto;
  overflow-x: hidden;
  height: 426px;
  width: 700px;
  background-color: aliceblue;
  border-radius: 10px;

}
#myMessages::-webkit-scrollbar{
    width: 6px;
    background-color: gainsboro;
    border-radius: 3px;
    /*background-color: red;*/
}
#myMessages::-webkit-scrollbar-thumb{
  background-color: grey;
  border-radius: 3px;
}

#myCard{
  background-color: lightslategrey;
  border: 0;
  height: 121px;
  width: 643px;
  border-radius: 10px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
#myCard:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

}
#input_area{
  width: 700px;
}
#input_button{
  width: 700px;
  height: 40px;
      margin-bottom: 20px;
}

#left_side{
  width: 700px;
  float: left;
  margin-right: 20px
}
#side{
  /*border: 1px solid black;*/
  background-color: ghostwhite;
  border-radius: 7px;
  float: left;
  width: 400px;
  height:320px ;
  /*Material Design Shadow*/
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-image: url("/noise2.png"), -webkit-linear-gradient(bottom,aquamarine, floralwhite);
  }
ul{
  list-style-type: telugu;
  margin: 13px;
  margin-top: 10px;
}

li{
  font-weight: bold;
  padding: 10px;
}
.container{
  margin-top:30px;
  /*display: none;*/
}
#username_display{
  background-color: limegreen;
    height: 30px;
    color: white;
    font-weight: bold;
    border-radius: 3px;
    display: none;
    margin-bottom: 10px;

}
#online_status{
  margin-left: 18px;
padding: 7px;
font-size: medium;
font-weight: 600;
}
#megarja{
  background-color: aquamarine;
  width: 100%;
  height: 800vh;


}


/*The below codes are for Modal*/

/*----------------Modal--------------*/

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place*/
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: inherit;
  margin: 60px;
  margin-left: 120px;
  padding: 0;
  height: 300px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
#result{
  font-size: 50px;color: lavenderblush;padding: 20px;
}
.modal-header {
  padding: 2px 16px 30px;
  background-color: #8c57c3;

  color: white;
}

.modal-body {
  padding: 2px 16px;
  background-color: ghostwhite;
  height: 307px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#intro_chat{
      margin-top: 85px;
}
#intro_image{
  opacity: 1;
}
#hello{
      font-weight: bold;
}
#joined_now{
  margin-left: 8px;
font-size: small;
color: darkorange;
font-weight: 600;
    font-style: italic;
    display: none;
}
#last-image{
  float: left;
  /*padding-right: 900px;*/
}
/*Radio Image css starts*/
label > input{
  visibility: hidden;
  position: absolute;
}
label > input + img{
  cursor: pointer;
  border: 2px solid transparent;

}
label>input:checked + img{
    opacity:0.9;
  	color:#996;
}
.img-circle{
  opacity: 0.5;
}
#validate_error{
  display: block;
    font-style: italic;
    color: coral;
    font-weight: 600;
}
#img-circle_chat{
  opacity: 1;
}
#message_error{

  font-weight: 500;
  color: coral;
  font-style: italic;
  margin-left: 15px;
}
.typing{
  display: none;
  font-style: italic;
  color: darkgrey;
}
#online_title{
  padding-left: 161px;
margin-top: 24px;
font-weight: 900;
font-family: monospace;
}
*{
  user-select: none;
}
.noselect{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -webkit-user-select: none;
    user-select: none;
}
